.card {
    width: 115px;
    position: relative;
  }

  .cover, .card-image {
    width: 115px;
    height: 115px;
  }

  .cover {
    background-color: var(--dodger-blue);
    position: absolute;
    top: 0;
    transform: rotateY('90deg');
  }

  .flipped .cover {
    opacity: 0;
  }

  .matched {
    opacity: 0;
  }