.card {
    width: 115px;
    position: relative;
  }

  .cover, .card-image {
    width: 115px;
    height: 115px;
  }

  .cover {
    background-color: var(--dodger-blue);
  }

  .card .cover {
    position: absolute;
  }

  .flipped .cover {
    z-index: 2;
  }