.App {
    max-width: 1440px;
    min-width: 968px;
}

header {
    font-family: Formular Regular;
    font-weight: 700;
    font-size: 50px;
    width: 100%;
    text-align: center;
    color: var(--dodger-blue);
    height: 130px;
  }

  button {
    background-color: var(--dodger-blue);
    border: none;
    font-family: Formular Regular;
    font-size: 24px;
    text-align: center;
    color: var(--plain-white);
    border-radius: 12px;
    width: 200px;
    height: 60px;
    display: block;
    margin: 0 auto;
  }

  button:hover {
    cursor: pointer;
    background-color: var(--plain-white);
    color: var(--dodger-blue)
  }